{
  "test": {
    "name": "test",
    "displayName": "test",
    "approvalType": "auto",
    "attributes": [
      {
        "name": "access",
        "value": "public"
      }
    ],
    "description": "test apis",
    "environments": [
      "default-staging"
    ],
    "quota": "100",
    "quotaInterval": "1",
    "quotaTimeUnit": "minute",
    "scopes": [
      "patient/*.*",
      "user/*.*"
    ],
    "createdAt": "1673538426575",
    "lastModifiedAt": "1673538426575",
    "operationGroup": {
      "operationConfigs": [
        {
          "apiSource": "product",
          "operations": [
            {
              "resource": "/"
            }
          ],
          "quota": {}
        },
        {
          "apiSource": "identity-oauthv2-api",
          "operations": [
            {
              "resource": "/"
            }
          ],
          "quota": {}
        },
        {
          "apiSource": "custom-auth",
          "operations": [
            {
              "resource": "/"
            }
          ],
          "quota": {}
        }
      ],
      "operationConfigType": "proxy"
    }
  }
}