{
	"test": {
		"appId": "63fdc135-70bb-487d-806d-ca45ed8fd70a",
		"attributes": [
			{
				"name": "DisplayName",
				"value": "test"
			},
			{
				"name": "test",
				"value": "test"
			}
		],
		"callbackUrl": "https://dummy/callback",
		"createdAt": "1674062296735",
		"credentials": [
			{
				"apiProducts": [
					{
						"apiproduct": "test",
						"status": "approved"
					}
				],
				"consumerKey": "ENC[AES256_GCM,data:aOi9gQ==,iv:uHkL7uOmANWsMllrzwHKylfvpPRYvEzt1Px42hJChm4=,tag:M3Gp4RDiA+AHR2/TXOU3gg==,type:str]",
				"consumerSecret": "ENC[AES256_GCM,data:poflFAW/7qyy3xEayZTWVqKZ8UI2Xd+KguX0g+UVrdcSV5+YCMG7m7uW9Vgk/vAKosvKtUkyXyHO+dHVkwvYWg==,iv:aTCxTF3O0zap2SyEf3VF0l3x5TkrfTdS6Kfuyuq7wME=,tag:ScnZKVWaA+tUBjjBHWyweg==,type:str]",
				"expiresAt": "-1",
				"issuedAt": "1674062299142",
				"status": "approved"
			},
			{
				"apiProducts": [
					{
						"apiproduct": "test",
						"status": "approved"
					}
				],
				"consumerKey": "ENC[AES256_GCM,data:R07kRA==,iv:sPapEpJLk9/QXmDO3V9XZOlXmqW+5jtQIYXc3MkDhYg=,tag:wyGf9kr3JE7FLwxP/a6ZSw==,type:str]",
				"consumerSecret": "ENC[AES256_GCM,data:1O570tCRiv2MqQQxKOt4aKV2a5NetMCBhomlP4BXrFzXQQU2JnjIggtN4o3A5k3NHxhJO9ZABBy5igrKt9z87A==,iv:TAUgk05VbQrybLjRjqUL4FrAQqF/T78I1xiRJMII630=,tag:PqdBKa4IpSfCgZP5ATbrFQ==,type:str]",
				"expiresAt": "-1",
				"issuedAt": "1674062300376",
				"status": "approved"
			}
		],
		"developerEmail": "test@mail.com",
		"lastModifiedAt": "1674062297343",
		"name": "test",
		"status": "approved"
	},
	"sops": {
		"kms": null,
		"gcp_kms": [
			{
				"resource_id": "",
				"created_at": "2023-01-22T01:55:11Z",
				"enc": "CiQAhIwOEG0B0NdEHrEh1camgbCdSZVHHwkiuKeERI+FEqV2aZISSQDvcVsqIhjZCbPb8vcVXPl55TorMdUNmS0o7dtsScr4DwQ0FUkrJYhZk451E4dAK/+8fIUt/vhRBZc8bsKCU97OGYZwKHOBDyM="
			}
		],
		"azure_kv": null,
		"hc_vault": null,
		"age": null,
		"lastmodified": "2023-01-22T01:55:12Z",
		"mac": "ENC[AES256_GCM,data:F35PfsjXHT2Lop0ccyPTj2yp5UiH1N8PhRDUd8LjCzZ8Lu74uitMTSzQtn4ptILVh4SjtbdO8pTNiygmxVbTlyvB+PebBUoy249JPGNCeFmISMerp4B56ABTOY+8ljtCPdVxsNiQCezPYcStuadk9td3djj+6h47P7WX+1n4T+0=,iv:4uPjutJuXf9eEeQrcyM91IWI14y9HPs8ZYbQ8NMDRHU=,tag:y0NrtMOCN2HYigsVSUHqLg==,type:str]",
		"pgp": null,
		"encrypted_regex": "^(consumerKey|consumerSecret)$",
		"version": "3.7.3"
	}
}