{
	"test": [
		{
			"name": "ENC[AES256_GCM,data:VIQUwkQ=,iv:ARZSBgAequNIhAXmrwVLSNInyxTtAeqFsBafWenAQkI=,tag:M/vqSBeDNuPWzXDTuKR1QQ==,type:str]",
			"value": "ENC[AES256_GCM,data:PlaJXNZ1,iv:nRWlaW633upTx1+TxQlG2z9KRZap1gOFkCVYqeWF+fM=,tag:KNbwtF0p36PBhFX4+DVKVg==,type:str]"
		},
		{
			"name": "ENC[AES256_GCM,data:+FY5rCM=,iv:ySscCBe4Usz6eKaQEY/NGlSHFnnJtLXEo7DAfAGvVKw=,tag:vhEi+0GCgwfKfTD9UR8lSg==,type:str]",
			"value": {
				"key": "ENC[AES256_GCM,data:8j3GJA==,iv:7l4NY+AQS0brgixrUiPperM6OnxLcaqjecBf97Hx18g=,tag:IVveZyQyFk+XG9Db3ccsfA==,type:str]",
				"value": "ENC[AES256_GCM,data:1VQ/wt0f,iv:DtBuhDHVR4l/JyhM8r+ADqV0jZsdjtjNxIGAS+JbPfo=,tag:d8QKK9oD4WC3p+nbtTL/qw==,type:str]"
			}
		},
		{
			"name": "ENC[AES256_GCM,data:IhUNqsY=,iv:F1dT7h+ef7OoSxHgwOlfEftfrDrWU/4yBjH5L7AuvZ8=,tag:nFVR0wzGBoQBQqEOtcb9HQ==,type:str]",
			"value": [
				"ENC[AES256_GCM,data:9T2crlBJMEM=,iv:0lSWAiGX3b7KjKVODw4tR2jwsGxDjPILFWrzblbJtAk=,tag:Oq8yo72UZ9ksPxNVgp1U0w==,type:str]",
				"ENC[AES256_GCM,data:ejQ7Uc/FAjg=,iv:QRKBjbu6bZySIsFMHZ0304ih+19yRTFDDdwmu8Bears=,tag:MQ+FIXa/NeI9A3Loj8qDBw==,type:str]"
			]
		}
	],
	"sops": {
		"kms": null,
		"gcp_kms": [
			{
				"resource_id": "",
				"created_at": "2023-01-22T02:05:14Z",
				"enc": "CiQAhIwOEOqR29Z6DCPijbwqkqsa5FZK0WyLZ2OsBt0TdO0AIXsSSQDvcVsqc0nnp1exgWA8g7k2TG1+CbSBnIgWX+Lmobi2V7wzOE5OilN8jPXyzE4hkQbhrwWoVkgjnFXs+JclApgwh7OESeEDwb0="
			}
		],
		"azure_kv": null,
		"hc_vault": null,
		"age": null,
		"lastmodified": "2023-01-22T02:05:14Z",
		"mac": "ENC[AES256_GCM,data:VmNn8kPOz47gThlXDVkH7Xdb3OZx20X/yTead+If4FcVptr1v+KdH6puSWUyMkBM7a5Ge0oMILtaHgXb6xD+uunuo6KE+s+RHQBrA0WoWlLOMf6xf3RNFGkiAYJDb0mL7UPZyQooQmxWXrc2kMnBpIfmNNrol0et7/fLhj+eAsI=,iv:n6jpjR3DRRj1Hq6YSzKYUZKRUiYd1t1cM1dfA91+RcI=,tag:YXjWg6uXGWVAQvBJ+VqtXg==,type:str]",
		"pgp": null,
		"encrypted_regex": ".*",
		"version": "3.7.3"
	}
}