{
	"test2": [
		{
			"name": "ENC[AES256_GCM,data:2bgBCvPsJA==,iv:OzKBh5sN3sz8s3uZ+PGgk3kRvUTiwX2IzXVMCDFvA4U=,tag:wDT2jXzyNwyUYf7ZQwatfw==,type:str]",
			"value": "ENC[AES256_GCM,data:bHaHs/ETd+k=,iv:QVsAU2wW+i7hadPqumuIhnsuPwp9UrIr8Yd9bRYOQEc=,tag:iGB7pEsfc9JTrb5ATTvHuw==,type:str]"
		},
		{
			"name": "ENC[AES256_GCM,data:lyg+DUSctQ==,iv:2hiP8vhDHa1TPpZKbiEYI5z0rs0ajoCbqE+h+lUfwxY=,tag:JLFltFcO3uqfLkUuKz2nLw==,type:str]",
			"value": "ENC[AES256_GCM,data:5ZF7W4g0vS0=,iv:El9avbm605y2E+KqPDD3e0FlxQghED29uNVRXUjn8rw=,tag:1qcr/0ve+hBIwV7rrKCLiA==,type:str]"
		}
	],
	"sops": {
		"kms": null,
		"gcp_kms": [
			{
				"resource_id": "",
				"created_at": "2023-01-22T02:18:18Z",
				"enc": "CiQAhIwOEIFgdBicuazQ0DiNOVGNE50YnkDpFvH6joZLLMJUta0SSQDvcVsqH6xh7WSFp4zgsec9+Y8gw7AD3Mk7Mud2e6BCk50krPd3z8fgOlOcUeBr9JmlUICnDeVNLyU4hKuptxgA5ZPygFFREO8="
			}
		],
		"azure_kv": null,
		"hc_vault": null,
		"age": null,
		"lastmodified": "2023-01-22T02:18:19Z",
		"mac": "ENC[AES256_GCM,data:+pL5tpalnCJOeVSHV7feylUAR1kUJZOqCUyl0VIdryrspXWb4TOxnL/S/9VnkH1KpW8O6MOve4NTQczsfyE87XugzXGUNHCBfvGPc0RNIpy0DMvidlRKZGaSHDODztAieUf7YEMpW3E+7tGsyZRr/DiSCCe4Vra2o71NELtsPCw=,iv:ZcaRWysnwDTtQ4muXS1x160tlSozlwkUJn6Z2kBcTG0=,tag:B9IZ1SRH9WXRIHQty7K9XQ==,type:str]",
		"pgp": null,
		"encrypted_regex": ".*",
		"version": "3.7.3"
	}
}